.anime-schedule-box
	.box-title
		p.title 番剧时间表
	ul
		li.week-select 星期一
		li.week-select 星期二
		li.week-select 星期三
		li.week-select 星期四
		li.week-select 星期五
		li.week-select 星期六
		li.week-select 星期日
	.anime-schedule